@font-face {
    font-family: PromoTest;
    src: url("/fonts/PromoTest.ttf");
}

@font-face {
    font-family: Poppins;
    src: url("/fonts/Poppins-Regular.ttf");
}

.promoTest {
    font-family: PromoTest;
}

.poppins {
    font-family: Poppins;
}

.heading {
    @apply text-[20px] md:text-[33px] poppins font-semibold
}

.heading-lg {
    @apply text-[25px] md:text-[35px] promoTest font-bold
}

.txt {
    @apply poppins text-[10px] md:text-[13.66px]
}

.txt-lg {
    @apply poppins text-[13.66px] md:text-[18.66px]
}

.authForm {
    border-radius: 7px;
    box-shadow: 1px 11px 35.3px rgba(0, 0, 0, 0.08);
}

.loginBtnShadow {
    filter: drop-shadow(0px 5.07068px 5.07068px rgba(0, 0, 0, 0.25));
}
.custom-overlay {
    position: absolute;
    left: 20px; /* Position it to the right of the marker */
    top: -10px; /* Slight vertical offset */
    background-color: rgba(0, 0, 0, 0.7); /* Make the background semi-transparent */
    padding: 5px;
    border-radius: 5px;
    white-space: nowrap;
    z-index: 100; /* Ensure it's on top of the map/marker */
}
.heading {
    @apply text-[33px] poppins font-semibold
}

.heading-lg {
    @apply text-[35px] promoTest font-bold
}

.txt {
    @apply poppins text-[13.66px]
}

.txt-lg {
    @apply poppins text-[18.66px]
}